@page
@if (TempData["Success"] != null)
{
    <div class="alert alert-success text-center">
        @TempData["Success"]
    </div>
}

@model LoginModel
@Html.Raw(Model.Alert)

<div class="container mt-5">
    <div class="card col-md-4 mx-auto">
        <div class="card-body">
            <h4 class="text-center">Iniciar Sesión</h4>

            <form method="post">
                <input class="form-control mb-2" name="Usuario" placeholder="Usuario" />
                <input type="password" class="form-control mb-2" name="Clave" placeholder="Clave" />
                <button class="btn btn-primary w-100">Entrar</button>
            </form>
        </div>
    </div>
</div>
